img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#frm404 {
    z-index: 1;
    width: 360px;
    height: 300px;
    border-radius: 6px;
    margin: auto;
    border: 1px solid #4F5B81;
    background-color: rgba(23, 33, 52, 0.1);
    aspect-ratio: 1/1;
    display: inline-flex;
    flex-direction: column;
}

#frmHeader {
    width: 100%;
    height: 40px;
    display: flex;
}

#frmHeader h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: auto;
}

#frmBody {
    width: 100%;
    height: 100%;
    display: flex;
}

#frmBody h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: auto;
}

#line {
    width: 96%;
    height: 1px;
    background-color: #4F5B81;
    margin: auto;
    opacity: .3;
}