img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#dashboard {
    width: 800px;
    min-width: 320px;
    margin:auto;
    display: inline-flex;
    flex-direction: column;
    height: auto;
}


#frm1 {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
}

#fullname {
    cursor: default;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}

#traineeID {
    background-color: transparent;
    outline: none;
    border: none;
    width: 166px;

    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}

#btnCopy {
    width: 40px;
    height: 100%;
    display: flex;
    cursor: pointer;
}

#btnCopy img {
    margin: auto;
    scale: 75%;
}

#topLine {
    margin-top: 1em;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4F5B81;
    opacity: 1;
}

#frm2 {
    min-width: 300px;
    width: 100%;
    aspect-ratio: 4/3;
    border: 1px solid #4F5B81;
    border-radius: 6px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
}

#frm2::-webkit-scrollbar {
    height: 0px;
}
  
#frm2::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.3);
}

.cards {
    width: 100%;
    aspect-ratio: 4/3;
}


#botLine {
    margin-top: 1em;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: #4F5B81;
    opacity: 1;
}

#frm4 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.dots {
    width: 10px;
    height: 10px;
    left: 960.49px;
    top: 878px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #FFFFFF;
    transform: rotate(45deg);
    cursor: pointer;
}

.imgCards {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

